

.hero-section {
  background-image: url('./images/desktop/image-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width : 575px) {
  .hero-section {
    background-image: url('./images/mobile/image-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}